############################################################################################
### .dockerignore; file in the same directory as your Dockerfile with following content: ###
############################################################################################
./node_modules
./npm-debug.log
